# Build object files
*.o

# Compiled binaries and build directories
/bin/
/build/
/*.out
*.exe

# macOS debug symbol folders
*.dSYM/

# Core dumps
core
*.core

# Editor temporary files
*~
*.swp
*.swo

# macOS metadata
.DS_Store

# Logs and other output
*.log

# Test binaries and outputs
test_*
*.jason
/tests/*_test
/tests/*.out

compile_commands.json
